@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.bgImg {
    position: fixed;
    filter: blur(40px) brightness(0.9);
    width: 100vw;
    z-index: -100;
}

.info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_container h1 {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.2rem;
    padding-top: 10px;
}

.pfpicture {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.642);
    margin-top: 20px;
}

.main_lnk_container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.main_lnk_container a {
    text-decoration: none;
    color: white;
}

.lnk-box h1 {
    font-weight: 900;
    font-size: 1.4rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.379);
}

.lnk-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 50px;
    cursor: pointer;
    border-radius: 18px;
    background-color: rgba(196, 176, 176, 0.404);
    padding: 6px 25px;
    border: 1px solid rgb(255, 255, 255);
    transition: all 100ms linear;
}

.icon-box img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-top: 6px;
}

.lnk-box:hover {
    scale: 0.94;
    transform: translate(10px, 10px);
    background-color: rgba(0, 0, 0, 0.195);
}

.icon-box:enabled {
    scale: 0.94;
    transform: translate(10px, 10px);
}


/* for phone */

@media only screen and (max-width: 456px) {
    body {
        overflow-x: hidden;
    }

    .bgImg {
        height: 100vh;
    }

    .lnk-box {
        width: 320px;
        height: 40px;
        border-radius: 13px;
    }

    .lnk-box h1 {
        font-size: 1.05rem;
        color: white;
    }

    .icon-box img {
        width: 40px;
        height: 40px;
    }

    .icon-box:hover {
        scale: 1.05;
    }
}

@media only screen and (max-width: 806px) {
    .bgImg {
        height: 100vh;
    }

    .lnk-box {
        border-radius: 15px;
    }


}